@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.sizerContainer {
  position: absolute;
  height: 100%;
  color: transparent;
  text-align: center;
  font-weight: 100;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;


  .sizer {
    width: 80%;
    span {
      display: inline-block;
      vertical-align: top;
      text-decoration: inherit;
      margin: 0 auto;
    }
  }
}

.metaRow {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 1em;
  left: 1em;
  right: 1em;
  gap: 1em;
  
  .meta {
    display: flex;
    flex-direction: row;
    gap: 0.25em 1em;
    align-items: baseline;
    flex-wrap: wrap;
    line-height: 1;

    .title {
      font-weight: 600;
    }
    .artists {
      color: $secondary-text;
    }
  }
}

.headerTime {
  font-size: 4.75rem;
  font-family: $headings-font;
  font-weight: 500;
  font-stretch: condensed;
  font-variant-numeric: tabular-nums;
  line-height: 0.9;
  letter-spacing: -0.1em;
  color: $secondary-text;

  .colon {
    animation: fadeIn 2s infinite cubic-bezier(0.25, 1, 0.5, 1);

    @keyframes fadeIn {
      0% {
        opacity: 0.25;
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0.25;
      }
    }
  }
}

.credit {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  bottom: 1em;
  left: 1em;
  right: 1em;
  gap: 1em;
  color: $secondary-text;
  font-size: 0.75em;
  font-stretch: expanded;

  a {
    color: inherit;
  }

  span:last-child {
    text-align: right;
  }
}

.backupCanvas {
  position: absolute;
  z-index: -1;
  opacity: 0;
}