@import "../../../styles/variables";
@import "../../../styles/mixins";

.paginator {
  margin-top: $vertical-gutter;
  margin-bottom: $vertical-gutter;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.disabledLink {
  cursor: not-allowed;
  opacity: 0.25;
}

.prevLink, .nextLink {
  color: $primary-text;
  transition: transform 0.2s cubic-bezier(0,0,.3,1), color 0.2s cubic-bezier(0,0,.3,1);
}

.prevLink:hover {
  transform: translateX(-0.5em);
  color: $brand-color;
}

.nextLink:hover {
  transform: translateX(0.5em);
  color: $brand-color;
}

.pageDots {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 500px;
  gap: 0.5rem;
  
  @include media-breakpoint-down(mobile) {
    display: none;
  }
}

.pageNumber {
  display: none;
  width: 0;
  flex-grow: 1;
  text-align: center;

  .pageNumberCurrent {
    color: $brand-color;
    font-weight: 600;
  }

  @include media-breakpoint-down(mobile) {
    display: inline-block;
    // font-weight: 600;
  }
}

.pageDot {
  display: inline-block;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: $primary-text;
}

.pageDotActive {
  background-color: $brand-color;
}