@import "../../../styles/variables";
@import "../../../styles/mixins";

.container {
  line-height: 1;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  transition: all 0.2s cubic-bezier(0,0,.6,1);
  --effective-background-color: #{$background-color};
  color: $primary-text;
  text-decoration: none;
  position: relative;
  background-image: url(https://grainy-gradients.vercel.app/noise.svg), linear-gradient($background-color, $background-color);
  background-blend-mode: soft-light;

  // Disable grainy pattern on Safari mobile
  @supports (-webkit-text-size-adjust:none) and (not (-ms-ime-align:auto)) and (not (-moz-appearance:none)) {
    background-image: linear-gradient($background-color, $background-color);
  }

  @media (hover: hover) {
    &:hover {
      background: url(https://grainy-gradients.vercel.app/noise.svg), var(--tags-gradient, linear-gradient($brand-color, $brand-color));
      --effective-background-color: var(--tags-foreground, #{$brand-color});
      color: $primary-text-on-brand;
      --primary-text: #{$primary-text-on-brand};
      --secondary-text: #{$secondary-text-on-brand};
      --tag-color-override: #{$secondary-text-on-brand};

      // Disable grainy pattern on Safari mobile
      @supports (-webkit-text-size-adjust:none) and (not (-ms-ime-align:auto)) and (not (-moz-appearance:none)) {
        background: var(--tags-gradient, linear-gradient($brand-color, $brand-color));
      }
    }
  }
}

.meta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;

  @include media-breakpoint-down(mobile) {
    flex-direction: column-reverse;
    gap: 0.5rem;
  }
}

.metaLeft {
  display: flex;
  flex-direction: row;
  column-gap: 3rem;
  flex-wrap: wrap;

  @include media-breakpoint-down(mobile) {
    flex-direction: column;
  }
}

.title, .artists {
  display: inline-block;
}

.title {
  font-weight: 600;
}

.artists {
  color: $secondary-text;
}

.verseContainer {
  --font-size: 3rem;
  --line-height: 1.1;
  font-size: var(--font-size);
  line-height: var(--line-height);
  transform: translateY(0.05em);
  overflow-x: hidden;
  overflow-y: hidden;
  overflow-y: clip;
  position: relative;

  @include media-breakpoint-down(tablet) {
    --font-size: 2.375rem;
  }
  @include media-breakpoint-down(mobile) {
    --font-size: 1.75rem;
  }
}

.verse, .cyclingVerse {
  font-weight: 100;
  white-space: nowrap;
}

.verse {
  display: block;
  overflow: hidden;
  width: 100%;
  position: relative;

  @media (hover: hover) {
    .container:hover & {
      // display: none;
      visibility: hidden;
    }
  }

  /* This is webkit only. An absolute block is set below for Firefox */
  &.mask {
    -webkit-mask-box-image-source: linear-gradient(90deg, rgba(0,0,0,0) 0% , rgba(0,0,0,1) 49%, rgba(0,0,0,1) 51%, rgba(0,0,0,0) 100%);
    -webkit-mask-box-image-slice: 0 49% fill;
    -webkit-mask-box-image-width: 0 2rem 0 0;
  }

  @supports not (-webkit-mask-box-image-width: 0 2rem 0 0) {
    &.mask::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(to right, rgba(0, 0, 0, 0), var(--background-color));
      width: 2rem;
    }
  }
}

.cyclingVerse {
  visibility: hidden;
  font-weight: 250;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  @media (hover: hover) {
    .container:hover & {
      visibility: visible;
    }
  }
}

.cyclingRepeats {
  opacity: 0.25;
}


.pulse {
  color: $secondary-text;
  @include font-style(italic);
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    display: block;
    inset: 0;
  }
}
