@import "../../../styles/variables";
@import "../../../styles/mixins";

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  text-decoration: none;
  color: $primary-text;
  --typing-highlight: #{$brand-color};
  --typing-highlight-inverse: #{$background-color};
  transition: all 0.2s cubic-bezier(0, 0, 0.6, 1);

  @media (hover: hover) {
    &:hover {
      color: $primary-text-on-brand;
      background: var(--tags-gradient, $brand-color);
      --primary-text: #{$primary-text-on-brand};
      --secondary-text: #{$secondary-text-on-brand};
      --tag-color-override: #{$secondary-text-on-brand};
      --typing-highlight: #{$primary-text-on-brand};
      // --typing-highlight-inverse: var(--tags-foreground, #{$brand-color});
      --typing-highlight-inverse: var(--tags-gradient, #{$brand-color});
      // --typing-highlight-inverse: #{$brand-color};

      .verse {
        font-weight: 250;
      }

      .arrow {
        transform: rotate(-90deg) translateX(100%);
        color: $primary-text-on-brand;
        opacity: 0.4;
      }
    }
  }
}

.otherVerses {
  color: $secondary-text;
  text-align: right;
  line-height: 1.1;
}

.verse {
  font-size: 3rem;
  font-weight: 100;
  line-height: 1;
  width: fit-content;
  text-decoration: none;
  color: $primary-text;

  &::after {
    content: "";
    position: absolute;
    display: block;
    inset: 0;
  }

  .verseLine {
    position: relative;
    .animation {
      position: absolute;
      top: 0;
      left: 0;
      width: calc(100vw - 2 * #{$horizontal-gutter});
    }
  }

  .committed {
    color: var(--typing-highlight);
  }

  .typing {
    background: var(--typing-highlight);

    span {
      background-clip: text;
      -webkit-background-clip: text;
      background: var(--typing-highlight-inverse);
      -webkit-text-fill-color: transparent;
      font-weight: 250;
      background-attachment: fixed;
    }
  }
}

.title,
.artists,
.pulse {
  line-height: 1.1;
}

.title {
  font-weight: 600;
}

.artists {
  color: $secondary-text;
}

.pulse {
  color: $secondary-text;
  @include font-style(italic);
}

.arrow {
  position: absolute;
  right: $horizontal-gutter;
  bottom: $vertical-gutter;
  width: 4rem;
  user-select: none;
  pointer-events: none;
  transition: transform 0.2s cubic-bezier(0, 0, 0.3, 1);
  transform-origin: bottom right;
  color: $primary-text;
  opacity: 0.15;

  @include media-breakpoint-down(mobile) {
    display: none;
  }
}
