SESSION_SECRET=SampleSessionSecret
PICKLE_SECRET=SamplePickleSecret
JWT_SECRET=SampleJWTSecretAndItShouldBeLong
DB_URI=mysql://lyricova_user:lyricova_pass@lyricova:3306/lyricova?ssl=false&allowPublicKeyRetrieval=true
YTDLP_PATH=/usr/local/py-utils/bin/yt-dlp
OPENROUTER_API_KEY=sk-or-v1-SampleOpenRouterApiKey
MUSIC_FILES_PATH=/var/music/

