BETTER_AUTH_SECRET=ReplaceWithAtLeast32RandomCharacters
# BETTER_AUTH_SECRETS=2:ReplaceWithCurrent32CharacterSecret,1:ReplaceWithPrevious32CharacterSecret
AUTH_ALLOWED_HOSTS=localhost:8081,localhost:8082,localhost:59742,localhost:58532
AUTH_TRUSTED_ORIGINS=http://localhost:8081,http://localhost:8082,http://localhost:59742,http://localhost:58532
WEBAUTHN_RP_ID=localhost
WEBAUTHN_ORIGINS=http://localhost:8081,http://localhost:8082,http://localhost:59742,http://localhost:58532
# AUTH_COOKIE_DOMAIN=1a23.studio
DB_URI=mysql://lyricova_user:lyricova_pass@lyricova:3306/lyricova?ssl=false&allowPublicKeyRetrieval=true
YTDLP_PATH=/usr/local/py-utils/bin/yt-dlp
OPENROUTER_API_KEY=sk-or-v1-SampleOpenRouterApiKey
MUSIC_FILES_PATH=/var/music/
