# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# CI User guide
user_guide/

*.zip

gy/config/development
gy/config/development/*
*/config/development
*/config/development/
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess

.htaccess

.idea/