body{
	padding-top: 40px;
}
footer{
	margin-top: 10px;
	height: 60px;
    background-color: #f5f5f5;
}
.song-box{
	padding: 10px;
	border: 1px solid #AAA;
	box-shadow: 0 0px 5px rgba(0,0,0,0.6);
	margin-bottom:10px;
	background-color: #fff;
}
.song-box .lyric, textarea.lyric{
	line-height: 1em;
	font-size: 1.5em;
}
.meta span{
	font-weight: bold;
	color: #888;
}
.meta span:hover{
	color:#444;
}
.header.hero-unit{
	background: url(img/bs-docs-masthead-pattern.png) repeat center center, linear-gradient(45deg, #020031 0%,#6d3353 100%);
	color:#fff;
	border-radius: 0;
}
.control-group label{
	padding: 5px 5px 0 0;
}
.control-group input, .control-group textarea{
	margin-bottom:0;
}
/**** Transitions ****/

.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.3s;
     -moz-transition-duration: 0.3s;
      -ms-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}
/* 404 Page */
.cont404 .span7{
	height:340px;
}
.cont404 .span4, .cont404 .span7 blockquote{
	height:340px;
	display:table;
}
.lhs404 {
	height:340px;
	text-align: right;
	display:table-cell; 
	vertical-align:middle;
}
.lhs404 h2{
	margin:0;
}
.rhs404 {
	display:table-cell; 
	vertical-align:middle;
}
/* Single */
.hero-unit.single-head{
	padding-top: 5px;
	padding-bottom: 5px;
}
.single-cont .song-box{
	padding:100px 50px;
}
.songb-single-cont{
	font-size: 3em;
	line-height: 1em;
	text-align: center;
}
.songb-single-cont .small{
	font-size: .5em;
	color:#777;
	font-style: italic;
	line-height: 1.2em;
	padding-top: 1em;
}
.songb-single-cont span{
	text-wrap:none;
}

/* Bootstrap code examples
-------------------------------------------------- */

/* Base class */
.imggen-preview {
  position: relative;
  margin: 15px 0;
  /*padding: 39px 19px 14px;
  *padding-top: 19px;*/
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

/* Echo out a label for the example */
.imggen-preview:after {
  content: "Preview";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
     -moz-border-radius: 4px 0 4px 0;
          border-radius: 4px 0 4px 0;
}

/* Remove spacing between an example and it's code */
.imggen-preview + .prettyprint {
  margin-top: -20px;
  padding-top: 15px;
}

/* Tweak examples
------------------------- */
.imggen-preview > p:last-child {
  margin-bottom: 0;
}
.imggen-preview .table,
.imggen-preview .progress,
.imggen-preview .well,
.imggen-preview .alert,
.imggen-preview .hero-unit,
.imggen-preview .pagination,
.imggen-preview .navbar,
.imggen-preview > .nav,
.imggen-preview blockquote {
  margin-bottom: 5px;
}
.imggen-preview .pagination {
  margin-top: 0;
}

.fix-height-thumb{
	height:17em;
}

/*Media Enq*/
@media (max-width: 979px){
	.navbar-fixed-top {
		margin-bottom: 0px;
	}
	body{
		padding-top: 0px;
	}
}
@media (max-width: 979px) and (min-width: 768px){
	.single-cont .song-box{
		padding: 50px 0px;
	}
	.songb-single-cont{
		font-size: 2.5em;
		line-height: 1em;
	}

}
@media (max-width: 767px){
	body{
		padding: 0;
	}
	.single-cont .song-box{
		padding: 30px 0px;
	}
	.songb-single-cont{
		font-size: 2em;
		line-height: 1em;
	}
	.container, .navbar .container{
		padding: 0 10px;
	}
	.hero-unit {
		padding: 60px 20px;
	}
	.cont404 .span7, .cont404 .span4, .cont404 .span7 blockquote, .lhs404 {
		height:auto;
	}
	.lhs404{
		text-align: center;
	}
}
