.playerPaper {
  width: 100%;
  height: 100%;
}

.sliderLabelContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: -1em;
}

.sliderLabelStretcher {
  flex-grow: 1;
}

.sliderLabelText {
  opacity: 0.5;
  font-variant-numeric: tabular-nums;
}

.controlContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.playPauseButton {
  z-index: 2;
}

.loadProgressContainer {
  position: relative;
}

.loadProgressSpinner {
  position: absolute;
  top: -6px;
  left: -6px;
  z-index: 1;
  opacity: 0.5;
}
