.sliderContainer {
  width: 100%;
}

.sliderContainer {
  flex-grow: 1;
}

.sliderLabelContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: -1em;
}

.sliderLabelStretcher {
  flex-grow: 1;
}

.sliderLabelText {
  opacity: 0.5;
  font-variant-numeric: tabular-nums;
}
