.gridContainer {
  height: 100vh;
}

.playerGridItem {
  padding: 24px;
  height: 100%;
}

.detailsGridItem {
  height: 100%;
}

.playerPaper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
