/* Responsive */
$breakpoint-mobile: 425px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-large: 1440px;
$breakpoint-4k: 2560px;


$grid-breakpoints: (
  mobile: $breakpoint-mobile,
  tablet: $breakpoint-tablet,
  desktop: $breakpoint-desktop,
  large: $breakpoint-large,
  4k: $breakpoint-4k
);

@mixin media-breakpoint-up($breakpoint) {
  @media (min-width: map-get($grid-breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin media-breakpoint-down($breakpoint) {
  @media (max-width: map-get($grid-breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin font-style($style) {
  // font-style: $style;
  @if $style == italic {
    font-variation-settings: "ital" 10, "palt" 1;
  }
  @else {
    font-variation-settings: "ital" 0, "palt" 1;
  }
}