/* Fonts */
$fallback-fonts: var(--fallback-fonts);
$headings-font: var(--headings-font);
$body-font: var(--body-font);

/* Sizes */
$horizontal-gutter: var(--horizontal-gutter);
$vertical-gutter: var(--vertical-gutter);
$gap: var(--gap);

/* Colors */
$brand-color: var(--brand-color);
$stroke-color: var(--stroke-color);
$primary-text: var(--primary-text);
$secondary-text: var(--secondary-text);
$background-color: var(--background-color);
$primary-text-on-brand: var(--primary-text-on-brand);
$secondary-text-on-brand: var(--secondary-text-on-brand);
$panel-background-color: var(--panel-background-color);
