@import "../../styles/variables";
@import "../../styles/mixins";

.footer {
  margin-top: $vertical-gutter;
  margin-bottom: $vertical-gutter;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  color: $brand-color;
  font-family: $headings-font;
  font-weight: 500;
  font-stretch: expanded;
  
  .label {
    width: 0;
    flex-grow: 1;
    line-height: 1;

    &:first-child {
      text-align: left;
    }

    &:last-child {
      text-align: right;
    }
    
  }

  a.label {
    text-decoration: none;
    color: $brand-color;
    transition: font-weight 0.2s ease-in-out;
    &:hover {
      font-weight: 700;
    }
  }

  .logo {
    img {
      height: 3rem;
    }
  }

  .mobileText {
    display: none;
    flex-grow: 1;
    @include media-breakpoint-down(mobile) {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      
      .label {
        display: block;
        width: fit-content;
      }
      span.label {
        font-weight: 300;
      }
    }
  }

  .label {
    @include media-breakpoint-down(mobile) {
      display: none;
    }
  }
}