@import "../../styles/variables";
@import "../../styles/mixins";

.headerRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: $gap;

  @include media-breakpoint-down(tablet) {
    [data-nav-icon="jukebox"],
    [data-nav-icon="search"],
    [data-nav-icon="screensavers"] {
      display: none;
    }
  }
}
