@import "../../../styles/variables";
@import "../../../styles/mixins";

.panelBackdrop {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  backdrop-filter: blur(5px);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.6s cubic-bezier(0.33, 1, 0.68, 1);
  transition-delay: 0.25s;
  &.open {
    opacity: 1;
    z-index: 10;
    pointer-events: all;
    transition-delay: 0s;
  }
}

.navPanel {
  transform: translateY(-100%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background-color: $panel-background-color;
  box-shadow: 0 0.1rem 0.5rem 0.1rem rgba(0, 0, 0, 0.5);
  transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
  --title-color-override: #{$primary-text};
  max-height: calc(100vh - $vertical-gutter);
  overflow-y: auto;


  @include media-breakpoint-down(desktop) {
    flex-direction: column;
    gap: 4rem;
    align-items: flex-start;
  }
  
  .open & {
    transform: translateY(0);
  }

  [data-nav-icon="close"] {
    position: absolute;
    top: $vertical-gutter;
    right: $horizontal-gutter;
  }
}

.titleContainer {
  font-size: min(0.9rem, 1.4vw);
  width: 40%;
  min-width: fit-content;
  opacity: 0.75;
  text-decoration: none;

  @include media-breakpoint-down(desktop) {
    font-size: 0.8rem;
  }

  h1 {
    transition: font-weight 0.6s cubic-bezier(0.33, 1, 0.68, 1);
  }

  @media (hover: hover) {
    &:hover h1:first-child {
      font-weight: 700;
    }
  }
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 100%;
}

.navEntry {
  display: block;
  line-height: 1;
  color: $primary-text;
  text-decoration: none;
  font-family: $headings-font;
  font-size: 3rem;
  font-weight: 100;
  position: relative;
  width: fit-content;
  font-stretch: expanded;

  &[data-active="true"] {
    font-weight: 700;
  }

  @include media-breakpoint-down(tablet) {
    font-size: 2.5rem;
  }

  @include media-breakpoint-down(mobile) {
    font-size: 2rem;
    @media not (hover: hover) {
      font-weight: 700;

      &[data-active="true"] {
        // font-weight: 700;
        color: $background-color;
      }
    }
  }

  [data-animate-char] {
    display: inline-block;
    position: absolute;
  }

  .mainNavText, .subNavText {
    transition: font-weight 0.6s cubic-bezier(0.33, 1, 0.68, 1);
    white-space: nowrap;
  }

  .mainNavText {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 1lh;
    transform-origin: bottom;
  }

  .subNavText {
    display: inline-block;
    visibility: hidden;
  }

  @media (hover: hover) {
    &:hover {
      font-weight: 700;
    }
  }
}