@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;
@use "./common.scss" as *;

.container {
  @include animation;
}

.main .animation .typing {
  @include mainTyping;
}

.cover {
  position: absolute;
  inset: 0;
  background: $background-color;
  transform: scaleY(0);
  transform-origin: top;
  z-index: 2;
}
