@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;
@use "./common.scss" as *;

.verse {
  @include layout;

  cite {
    font-style: normal;
    font-weight: 300;
    font-stretch: expanded;
    color: $secondary-text;
  }
}
